/* 重置默认样式，确保页面样式一致性 */
body,
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 定义全局变量以便统一使用颜色 */
:root {
    --primary-color: rgba(33, 150, 243, 0.6);
    --secondary-color: rgba(21, 101, 192, 0.6);
    --tertiary-color: rgba(13, 71, 161, 0.6);
    --dark-mode-color: rgba(243, 156, 18, 0.6);
    --dark-mode-hover: rgba(224, 123, 0, 0.6);
    --dark-mode-active: rgba(179, 102, 0, 0.6);
    --font-color: #444;
}

/* 开启深色模式时的字体颜色 */
body.dark-mode {
    --font-color: #eeeeeede;
}

/* 设置全局的样式 */
body {
    min-height: 100vh;
    font-family: 'LXGWWenKaiGBScreen', sans-serif;
    color: var(--font-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #cfd2d1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* 深色模式的背景颜色设置 */
body.dark-mode {
    background-color: #272a29;
}

/* 页面加载样式，优化视觉体验 */
.loading-container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    z-index: 9999;
    animation: bgPulse 3s infinite;
}

/* 自定义按钮样式，适用于不同的交互场景 */
.button {
    padding: 10px 15px;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: #fff;
    transition: var(--button-transition);
}

/* 旋转动画，用于加载指示器 */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* 导航按钮样式，增强用户交互体验 */
.navButton {
    cursor: pointer;
    padding: 10px 0;
    border: none;
    position: relative;
}

/* 鼠标悬停时导航按钮的效果 */
.navButton:hover::before {
    background-color: var(--font-color);
}

/* 重置一些默认样式，确保页面的一致性 */
body,
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgba(33, 150, 243, 0.6);
    --secondary-color: rgba(21, 101, 192, 0.6);
    --tertiary-color: rgba(13, 71, 161, 0.6);
    --dark-mode-color: rgba(243, 156, 18, 0.6);
    --dark-mode-hover: rgba(224, 123, 0, 0.6);
    --dark-mode-active: rgba(179, 102, 0, 0.6);
    --font-color: #444;
}

body.dark-mode {
    --font-color: #eeeeeede;
}

/* 全局样式设置，包括背景、字体等 */
body {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'LXGWWenKaiGBScreen', sans-serif;
    color: #444;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
    background-color: #cfd2d1;
}

/* 字体自定义 */
@font-face {
    font-family: 'LXGWWenKaiGBScreen';
    src: url('https://gcore.jsdelivr.net/gh/0fuling0/mysource@main/fonts/LXGWWenKaiGBScreen.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body.dark-mode {
    background-color: #272a29;
    color: #eeeeeede;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

body.dark-mode:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: -1;
}

/* 可选: 为深色模式添加平滑过渡效果 */
body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* 新的加载页面样式 */
.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: background-color 0.3s ease;
}

.loading-container {
    background: rgba(255, 255, 255, 0.5);
}

body.dark-mode .loading-container {
    background: rgba(38, 38, 38, 0.1);
}

.loading-spinner-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
}

.loading-spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid transparent;
    animation: spin 1s linear infinite;
}

.loading-spinner:before,
.loading-spinner:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    border: 3px solid transparent;
    animation: spin linear infinite;
}

.loading-spinner:before {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    animation-duration: 2s;
}

.loading-spinner:after {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    animation-duration: 1.5s;
}

.loading-spinner {
    border-top-color: var(--primary-color);
}

.loading-spinner:before {
    border-top-color: var(--primary-color);
}

.loading-spinner:after {
    border-top-color: var(--primary-color);
}

body.dark-mode .loading-spinner {
    border-top-color: var(--dark-mode-color);
}

body.dark-mode .loading-spinner:before {
    border-top-color: var(--dark-mode-color);
}

body.dark-mode .loading-spinner:after {
    border-top-color: var(--dark-mode-color);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-text {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    font-family: 'LXGWWenKaiGBScreen', sans-serif;
    color: var(--font-color);
    text-align: center;
    opacity: 0.8;
    animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.5;
    }
}

/* 头部样式 */
/* 开始头部样式 */
header {
    padding-top: 3px;
    /* 上边距 */
    padding-bottom: 9px;
    /* 下边距 */
    text-align: center;
    /* 文本居中对齐 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    /* 阴影效果，颜色为黑色透明 */
    background-color: rgba(255, 255, 255, 0.5);
    /* 半透明白色背景 */
    position: sticky;
    /* 固定定位，随滚动粘在顶部 */
    top: 0;
    z-index: 2;
    /* 设置在正常文档流下，位于其他元素之上 */
    margin: 0 auto;
    /* 左右自动居中 */
    max-width: 1300px;
    /* 最大宽度为1300像素 */
    border-radius: 0 0 12px 12px;
    /* 圆角边框，仅在底部有圆角 */
    backdrop-filter: blur(20px);
    /* 模糊背景，可根据需要调整 */
    transition: transform 0.3s ease-in-out, background-color 0.3s ease;
    /* 添加过渡效果 */
    box-sizing: border-box;
    /* 使用border-box盒模型 */
}

header p.motto {
    margin-bottom: 10px;
    /* 根据需要调整上边距的值 */
}

/* 导航链接样式 */
header a {
    color: var(--font-color);
    /* 设置链接颜色 */
    text-decoration: none;
    margin: 0 10px;
    /* 在链接之间添加间距 */
    transition: color 0.3s ease;
    /* 添加颜色过渡效果 */
}

/* 鼠标悬停时更改链接颜色和添加底部边框效果 */
header a:hover {
    color: var(--font-color);
    /* 更改为你想要的悬停颜色 */
    border-bottom: 2px solid var(--font-color);
    /* 添加底部边框效果 */
}

header:hover {
    transform: scale(1.03);
    /* 悬停时放大1.03倍 */
}

/* 在较小屏幕上为头部添加外边距 */
@media (max-width: 1320px) {
    header {
        margin: 0 10px;
        /* 在左右各添加10像素外边距 */
    }
}

/* 深色模式下的头部样式 */
body.dark-mode header {
    background-color: rgba(38, 38, 38, 0.1);
    /* 深色模式下的半透明背景 */
}

header::before {
    content: '';
    /* 伪元素内容为空 */
    position: absolute;
    /* 绝对定位，相对于头部定位 */
    top: 0;
    /* 伪元素顶部对齐头部顶部 */
    left: 0;
    /* 伪元素左侧对齐头部左侧 */
    right: 0;
    /* 伪元素右侧对齐头部右侧 */
    bottom: 0;
    /* 伪元素底部对齐头部底部 */
    border-radius: 12px;
    /* 圆角边框，与头部相同 */
    background-color: rgba(0, 0, 0, 0);
    /* 背景颜色为透明 */
    pointer-events: none;
    /* 伪元素不响应鼠标事件 */
    transition: background-color 0.3s ease;
    /* 背景颜色过渡效果 */
    z-index: -1;
    /* 设置为负值，将遮罩置于头部下层 */
}

header:hover::before {
    content: '';
    /* 伪元素内容为空 */
    position: absolute;
    /* 绝对定位，相对于头部定位 */
    top: 0;
    /* 伪元素顶部对齐头部顶部 */
    left: 0;
    /* 伪元素左侧对齐头部左侧 */
    right: 0;
    /* 伪元素右侧对齐头部右侧 */
    bottom: 0;
    /* 伪元素底部对齐头部底部 */
    border-radius: 12px;
    /* 圆角边框，与头部相同 */
    background-color: rgba(255, 255, 255, 0.3);
    /* 头部悬停时的白色半透明遮罩 */
    pointer-events: none;
    /* 伪元素不响应鼠标事件 */
    z-index: -1;
    /* 设置为负值，将遮罩置于头部下层 */
    transition: background-color 0.3s ease;
    /* 背景颜色过渡效果 */
}

/* 深色模式下头部悬停时的遮罩效果 */
body.dark-mode header:hover::before {
    background-color: rgba(0, 0, 0, 0.3);
    /* 头部悬停时的黑色半透明遮罩 */
}

/* 结束头部样式 */

/* 容器样式 */
.container {
    max-width: 1300px;
    margin: 20px auto;
    overflow: visible;
}

/* 主要内容区域样式 */
main {
    padding: 10px;
    background-color: transparent;
    column-count: 3;
    /* 默认三列布局 */
    column-gap: 20px;
    /* 列之间的间隔 */
}

/* 使用媒体查询实现响应式布局 */
/* 在最大宽度为720像素时，将主要内容区域显示为单列 */
@media (max-width: 720px) {
    main {
        column-count: 1;
        /* 单列布局 */
    }
}

/* 在最小宽度721像素且最大宽度为1024像素时，使用两列布局 */
@media (min-width: 721px) and (max-width: 1200px) {
    main {
        column-count: 2;
        /* 两列布局 */
    }
}

/* 新增媒体查询，实现三栏布局，适用于最小宽度1025像素及以上 */
@media (min-width: 1201px) {
    main {
        column-count: 3;
        /* 三列布局 */
    }
}

/* 卡片样式 */
.card {
    break-inside: avoid;
    /* 防止卡片在列中被断开 */
    margin-bottom: 20px;
    /* 设置卡片间隔 */
}

/* 卡片样式 */
.card {
    position: relative;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease;
    box-sizing: border-box;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    transition: background-color 0.3s ease;
}

body.dark-mode .card {
    background-color: rgba(38, 38, 38, 0.1);
}

.card:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.3);
    pointer-events: none;
    z-index: -1;
    transition: background-color 0.3s ease;
}

body.dark-mode .card:hover::before {
    background-color: rgba(0, 0, 0, 0.3);
}

.card:hover {
    transform: scale(1.03);
}

/* 列表样式统一设置 */
.card ul {
    list-style: none;
    padding-left: 10px;
    margin-top: 10px;
}

.card ul li {
    margin-bottom: 8px;
    line-height: 1.5;
}

.hitokoto-container {
    display: flex;
    justify-content: center;
    /* Centers text horizontally */
    align-items: center;
    /* Centers text vertically */
    text-align: center;
    /* Center text within the container */
}

.clock {
    text-align: center;
    /*   height: 150px;   */
}

.clock-date {
    font-size: 1.5rem;
    color: #555;
}

.clock-time {
    font-size: 4rem;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body.dark-mode .clock-time {
    color: #eee;
}

/* Profile 卡片样式 */
.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body.dark-mode .profile img {
    filter: brightness(0.8);
}

.card.profile {
    display: flex;
    align-items: center;
}

.profile-info {
    flex-grow: 1;
}

.button {
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 1.1rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: var(--primary-color);
    color: #fff;
    transition: var(--button-transition);
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 12px;
    margin-right: 0px;
    align-items: flex-end;
}

.button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

.button:active {
    background-color: var(--tertiary-color);
}

body.dark-mode .button {
    background-color: var(--dark-mode-color);
    margin-right: 0;
}

body.dark-mode .button:hover {
    background-color: var(--dark-mode-hover);
}

body.dark-mode .button:active {
    background-color: var(--dark-mode-active);
}

.button,
.button:hover,
.button:active,
body.dark-mode .button,
body.dark-mode .button:hover,
body.dark-mode .button:active {
    text-decoration: none;
}

/* Profile 卡片样式结束 */

/* About 卡片样式 */
.about ul {
    list-style: none;
    padding: 0;
}

.about ul li {
    margin-bottom: 10px;
}

/* About 卡片样式结束 */

/* Project 卡片样式 */
.projects .project-list {
    list-style: none;
    padding: 0;
}

.project {
    margin-bottom: 20px;
}

.project a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #000;
}

.project a span {
    font-size: 1rem;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
    border-bottom: none;
}

body.dark-mode .project a {
    color: #eeeeeede;
}

.project svg {
    width: 24px;
    height: 24px;
}

/* Project 卡片样式结束 */

/* 联系方式卡片样式 */
.contact-options {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.contact-options a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
}

.contact-options a i {
    margin-right: 10px;
    font-size: 1.2rem;
}

.contact-options a span {
    font-size: 1rem;
    text-decoration: none;
}

.contact-options a:hover {
    text-decoration: underline;
    border-bottom: none;
}

body.dark-mode .contact-options {
    color: #eee;
}

body.dark-mode .contact-options a {
    color: #eee;
}

body.dark-mode .contact-options a:hover {
    text-decoration: underline;
    border-bottom: none;
}

/* 联系方式卡片样式结束 */

/* 图片卡片样式 */
.carousel-card {
    position: relative;
    padding-bottom: 210px;
    /* 设置纵横比 (2:1) */
}

/* 轮播容器样式 */
.carousel-container {
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    overflow: hidden;
    border-radius: 12px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); */
}

/* 图片样式 */
.carousel-img {
    filter: brightness(1.0);
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 确保图像覆盖整个容器 */
    object-position: center;
    /* 将图像居中放置在容器内 */
}

body.dark-mode .carousel-img {
    filter: brightness(0.8);
}

/* 轮播按钮样式 */
.prev-btn,
.next-btn {
    z-index: 2;
    /* Add this line */
    position: absolute;
    bottom: -20px;
    height: 250px;
    /* transform: translateY(-50%); */
    font-size: 1.2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    transition: color 0.3s;
    /* 添加颜色渐变过渡效果 */
    background-color: rgba(255, 255, 255, 0.4);
    /* 背景颜色 */
    backdrop-filter: blur(20px);
    padding: 0px 10px;
    /* 内边距 */
    transition: background-color 0.3s;
    /* 添加颜色渐变过渡效果 */
}

.prev-btn {
    left: -20px;
    border-radius: 12px 0px 0px 12px;
    /* 圆角 */
}

.next-btn {
    right: -20px;
    border-radius: 0px 12px 12px 0px;
    /* 圆角 */
}

.prev-btn:hover,
.next-btn:hover {
    background-color: rgba(255, 255, 255, 0.6);
}


body.dark-mode .prev-btn,
body.dark-mode .next-btn {
    background-color: rgba(0, 0, 0, 0.4);
    /* 背景颜色 */
    color: #eee;
}

body.dark-mode .prev-btn:hover,
body.dark-mode .next-btn:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.card.music iframe {
    filter: brightness(1.0);
}

body.dark-mode .card.music iframe {
    filter: brightness(0.6);
}

:root {
    --button-width: 32px;
    --button-height: 32px;
    --button-size: 1rem;
    --button-radius: 12px;
    --button-transition: background-color 0.3s ease, transform 0.2s ease;
}

.back-to-top-button,
.back-to-bottom-button,
.dark-mode-toggle {
    position: fixed;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    width: var(--button-width);
    height: var(--button-height);
    font-size: var(--button-size);
    cursor: pointer;
    border-radius: var(--button-radius);
    margin-top: 5px;
    transition: var(--button-transition);
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-to-top-button {
    bottom: 105px;
    right: 20px;
}

.back-to-bottom-button {
    bottom: 65px;
    right: 20px;
}

.dark-mode-toggle {
    bottom: 25px;
    right: 20px;
}

.back-to-top-button:hover,
.back-to-bottom-button:hover,
.dark-mode-toggle:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

.back-to-top-button:active,
.back-to-bottom-button:active,
.dark-mode-toggle:active {
    background-color: var(--tertiary-color);
}

.dark-mode .back-to-top-button,
.dark-mode .back-to-bottom-button,
.dark-mode .dark-mode-toggle {
    background-color: var(--dark-mode-color);
}

.dark-mode .back-to-top-button:hover,
.dark-mode .back-to-bottom-button:hover,
.dark-mode .dark-mode-toggle:hover {
    background-color: var(--dark-mode-hover);
}

.dark-mode .back-to-top-button:active,
.dark-mode .back-to-bottom-button:active,
.dark-mode .dark-mode-toggle:active {
    background-color: var(--dark-mode-active);
}

/* Footer 样式开始 */

/* 设置根元素的变量，定义 Footer 样式的基本参数 */
:root {
    --footer-background: rgba(255, 255, 255, 0.5);
    /* 背景颜色，带透明度 */
    --footer-border-radius: 12px 12px 0 0;
    /* 圆角边框 */
    --footer-blur: blur(20px);
    /* 背景模糊效果 */
    --footer-transition: transform 0.3s ease-in-out, background-color 0.3s ease;
    /* 过渡效果 */
}

/* 暗黑模式下的 Body 样式 */
body.dark-mode {
    --footer-background: rgba(38, 38, 38, 0.1);
    /* 暗黑模式下的背景颜色 */
}

/* 设置 Footer 样式 */
footer {
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    background-color: var(--footer-background);
    position: absolute;
    /* 使用绝对定位 */
    left: 0;
    right: 0;
    z-index: 0;
    margin: 0 auto;
    max-width: 1300px;
    border-radius: var(--footer-border-radius);
    backdrop-filter: var(--footer-blur);
    transition: var(--footer-transition);
    box-sizing: border-box;
}

/* 鼠标悬停时 Footer 的放大效果 */
footer:hover {
    transform: scale(1.03);
}

/* 鼠标悬停时在 Footer 上方添加半透明背景 */
footer:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--footer-border-radius);
    background-color: rgba(255, 255, 255, 0.3);
    pointer-events: none;
    z-index: -1;
    transition: background-color 0.3s ease;
}

/* 暗黑模式下的鼠标悬停时在 Footer 上方添加半透明背景 */
body.dark-mode footer:hover::before {
    background-color: rgba(0, 0, 0, 0.3);
}

/* 在小屏幕上为 Footer 添加外边距 */
@media (max-width: 1320px) {
    footer {
        margin: 0 10px;
    }
}

.tk-footer {
    display: none !important;
}

/* Light Mode Styles */
.el-button {
    border-radius: 12px;
    background: var(--primary-color) !important;
    border: 0px solid var(--dark-mode-hover) !important;
    color: white !important;
}

.tk-extras {
    color: var(--font-color) !important;
}

.el-input__inner::placeholder,
.tk-icon.__comments,
.tk-avatar .tk-avatar-img {
    color: var(--font-color) !important;
}

.tk-meta-input .el-input .el-input-group__prepend {
    padding: 0 0.6rem !important;
}

.el-button--mini,
.el-button--small {
    border-radius: 8px !important;
}

.el-button:hover {
    background: var(--secondary-color) !important;
    color: var(--white) !important;
}

.tk-action-link,
.tk-action-icon {
    color: var(--font-color) !important;
}

.el-button--primary.is-disabled,
.el-button--primary.is-disabled:active,
.el-button--primary.is-disabled:focus,
.el-button--primary.is-disabled:hover {
    opacity: 0.4;
}

/* Dark Mode Styles */
body.dark-mode .el-button {
    background: var(--dark-mode-color) !important;
    border: 0px solid var(--dark-mode-hover) !important;
    color: var(--font-color) !important;
}

body.dark-mode .el-button:hover {
    background: var(--dark-mode-hover) !important;
    color: var(--tertiary-color) !important;
}

body.dark-mode .el-button--primary.is-disabled,
body.dark-mode .el-button--primary.is-disabled:active,
body.dark-mode .el-button--primary.is-disabled:focus,
body.dark-mode .el-button--primary.is-disabled:hover {
    opacity: 0.4;
}

.aplayer {
    height: 100% !important;
}
.aplayer .aplayer-list ol li {
    border-top: none !important;
}
.aplayer,
.aplayer .aplayer-list ol li.aplayer-list-light,
.aplayer .aplayer-lrc:before,
.aplayer .aplayer-lrc:after {
    background: rgb(0, 0, 0, 0) !important;
}

.aplayer .aplayer-list ol li .aplayer-list-author {
    color: var(--font-color) !important;
}

.aplayer {
    margin: -20px !important;
    border-radius: 12px !important;
    box-shadow: none !important;
}

.aplayer.aplayer-withlist .aplayer-info,
div.aplayer-pic {
    border: none !important;
    border-radius: 12px !important;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    /* Inner shadow on all sides */
}

body.dark-mode .aplayer.aplayer-withlist .aplayer-info,
div.aplayer-pic {
    box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.3);
    /* Inner shadow on all sides */
}

/* 主要内容区域样式 */
.full {
    column-count: 1;
    /* 单列布局 */
}

.search-container {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: stretch;
    /* 将内部元素拉伸以匹配容器的高度 */
    justify-content: center;
}

.search-input::placeholder {
    font-family: 'LXGWWenKaiGBScreen';
    /* 设置字体样式 */
}

.custom-select {
    position: relative;
    display: flex;
    align-items: stretch;
    padding: 0px;
    /* margin-top: 0; */
    /* margin-bottom: 0;   */
}

.select-styled {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    border: none;
    padding: 0px 9px;
    border-radius: 20px 0 0 20px;
    background-color: #fff;
    color: #000;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.dark-mode .select-styled {
    background-color: #a0a0a0;
}

.select-styled:after {
    display: none;
}

/* 默认样式，适用于较大屏幕 */
.search-options {
    display: none;
    position: absolute;
    top: 105%;
    left: 0;
    right: auto;
    border: none;
    border-radius: 12px;
    background-color: #fff;
    z-index: 3;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

/* 在小屏幕上应用不同的样式 */
@media only screen and (max-width: 600px) {
    .search-options {
        grid-template-columns: repeat(2, 1fr);
        /* 单列布局 */
    }
}

.dark-mode .search-options {
    background-color: #a0a0a0;
}

.search-option {
    padding: 8px;
    cursor: pointer;
    color: #000;
}

.search-option:hover {
    background-color: var(--hover-color);
}

.search-input {
    width: 60%;
    border: none;
    padding: 2px 0px 0px 12px;
    outline: none;
    /* 去掉选中时的边框 */
    font-size: 16px;
    /* 设置文本大小，可以根据需要更改值 */
    line-height: 40px;
    /* 设置行高，使文本垂直居中，可以根据需要更改值 */
}

.dark-mode .search-input {
    background-color: #a0a0a0;
}

/* 搜索按钮样式 */
.search-button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 17px;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    outline: none;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

.search-button:hover {
    background-color: var(--secondary-color);
}

.search-button:active {
    background-color: var(--tertiary-color);
}

.dark-mode .search-button {
    background-color: var(--dark-mode-color);
}

.dark-mode .search-button:hover {
    background-color: var(--dark-mode-hover);
}

.dark-mode .search-button:active {
    background-color: var(--dark-mode-active);
}

.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    /* Center horizontally */
}

.cardItem {
    flex: 1;
    /* 占满剩余空间 */
    display: none;
    flex-direction: row;
    padding: 0px auto;
    /* border: 1px solid #ccc; */
    border-radius: 12px;
    margin-bottom: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.cardItem.active {
    display: flex;
    width: 87%;
    /* 占满整个父容器的宽度 */
    height: 100%;
    /* 占满整个父容器的高度 */
    margin-bottom: 0;
    margin-left: 3%;
}

/* 默认的网格布局 */
.cardItem.active .grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    width: 100%;
    height: 100%;
}

/* 在小屏幕上，将列数改为适应屏幕宽度 */
@media screen and (max-width: 512px) {
    .cardItem.active .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 在小屏幕上，将列数改为适应屏幕宽度 */
@media screen and (min-width: 513px) and (max-width: 600px) {
    .cardItem.active .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* 在中等屏幕上，将列数改为适应屏幕宽度 */
@media screen and (min-width: 601px) and (max-width: 900px) {
    .cardItem.active .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* 在大屏幕上，将列数改为适应屏幕宽度 */
@media screen and (min-width: 901px) {
    .cardItem.active .grid-container {
        grid-template-columns: repeat(6, 1fr);
    }
}

.cardItem.active .grid-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    /* border: 1px solid #ccc; */
    text-decoration: none;
    color: var(--font-color);
    width: 100%;
    height: 100%;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    object-fit: contain;
}

.navButtons {
    display: flex;
    justify-content: center;
    /* 让按钮居中 */
    gap: 50px;
    /* 设置按钮之间的间隔为 10px */
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navButton {
    cursor: pointer;
    padding: 10px 0;
    border: none;
    position: relative;
}

.navButton::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.navButton.current::before {
    background-color: var(--primary-color);
}

body.dark-mode .navButton.current::before {
    background-color: var(--dark-mode-color);
}

.navButton:hover::before {
    background-color: var(--font-color);
}

.navButton.current {
    font-weight: bold;
}